---
import { Image } from "astro:assets";
import locationSvg from '../assets/icons/location.svg'

---

<section id="location" class="py-20">
    <div class="container mx-auto">
        <div class="flex gap-20">
            <div class="w-1/2 text-center">
                <h2 class="text-center text-3xl">Puedes <span class="text-celurean-500">encontrarnos</span> en</h2>
                <p class="font-normal my-4">Calle Mariano Matamoros 212 despacho 9, <br> Col Centro, 42000 Pachuca de Soto, Hgo.</p>
                <Image class="w-4/5 mx-auto" loading="lazy" src={locationSvg} alt="location-icon">
            </div>
            <div class="w-1/2">
                <!-- <iframe title="Ubicación" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.3676101907317!2d-98.732903258862!3d20.12535195631007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d109e5f0cb31b5%3A0x5a4233bd06f6807d!2sCalle%20Mariano%20Matamoros%20212%2C%20Centro%2C%2042000%20Pachuca%20de%20Soto%2C%20Hgo.!5e0!3m2!1ses!2smx!4v1707356513298!5m2!1ses!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2228.4366506329393!2d-98.78385451913364!3d20.060125274903722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a11cca6c23c5%3A0x26a7b8e8720ff534!2sEx-hda%20San%20Fco%20Colonias%20LB%2C%20Colonias%2C%2042083%20Pachuca%20de%20Soto%2C%20Hgo.!5e0!3m2!1ses-419!2smx!4v1739206765570!5m2!1ses-419!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>


<style>
    #location{
        background: linear-gradient(180deg, #34A4E2 0%, #274B87 100%);

    }
</style>